.detail_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_wrapper {
    height: 30vh;
}

.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    max-width: 50%;

    gap: 60px;
    padding: 100px;
    border-radius: 50px;

    background-image: linear-gradient(to right, #7897fd, #7f9ef2);

}

p,
a {
    font-size: 25px;

}

.home_icon {
    height: 60px;
    width: 60px;
}