.show_card {
    padding: 16px;

    max-width: 200px;
    height: 440px;
    border-radius: 8px;
    border: 1px solid #ccc;


    text-decoration: none;
    background-color: #f0f0f0;    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;

    
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &-image {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }

    &-header {
      font-size: 1.5rem;
      margin: 10px 0;
      color: #383838;
    }

    &-paragraph {
      font-size: 1rem;
      color: #777;
    }
  }
  
  a {
    text-decoration: none;
  }