.show-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    max-width: 200px;
    height: 440px;
    text-decoration: none;
    background-color: #f0f0f0;

    
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  }
  
  a {
    text-decoration: none;
  }
  
  .show-card{
    img {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }

    h2 {
      font-size: 1.5rem;
      margin: 10px 0;
      color: #383838;
    }

    p {
      font-size: 1rem;
      color: #777;
    }
  }

  .unload_image{
    width: 200px;
    height: 280px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
      font-size: 15px;
    }
  }