.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 50vh;

  background-image: linear-gradient(to right, #2e405e, #2f559c);

  input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 10px;

    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 5px;

    flex: 1;
    margin-right: 10px;
    outline: none;
  }
}

.shows_wrapper {
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.shows_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 70px;
  list-style: none;
  padding: 0;
}


.error_wrapper {
  max-width: 50%;

  &-paragraph {
    font-size: 36px;
    text-align: center;
  }

  &-image {
    width: 100%;
    height: 100%;
  }
}

.image_wrapper{
  max-width: 50%;

  &-image{
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
  }
}

.unserach_wrapper {
  max-width: 50%;

  &-paragraph {
    font-size: 36px;
    text-align: center;
  }

  &-image {
    width: 100%;
    height: 100%;
  }
}

.sub_wrapper{
  width: 50%;
}