.unload_image {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 200px;
    height: 280px;
    background-color: #ccc;

    &-paragraph {
      font-size: 15px;
      color: #777;
    }
  }